<!DOCTYPE html>
<html lang="en">
<head>
   {{>frontend}}
    {{>header}}
</head>
<body>
    <h1>Sorry 404 Page Not Found. Please Try Valid URL</h1>>
</body> 
</html>
<footer>
    {{>footer}}
    </footer>>